<div class="well about">
<h2>About Frenzy</h2>
<p>Welcome to Frenzy. We are a community of stylists, shoppers and sellers all looking for the most coveted  products at the cheapest prices. We connect bargain sharks with a natural instinct for fashion to the buyers looking to consume them. Sign up for free to browse current sellers and stylists. Want to hire a stylist or seller to find your perfect look at the best price? Sign up for pro and make every Frenzy find your own. </p>
</div>